apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: go
  name: go
spec:
  replicas: 2
  selector:
    matchLabels:
      app: go
  strategy: {}
  template:
    metadata:
      labels:
        app: go
    spec:
      containers:
      - image: prinder009800/go:latest
        name: go
        ports:
        - containerPort: 8080
        resources: {}
status: {}
